
html {background: #ededed;}
.wrap {max-width: 1400px; margin: 0 auto;position: relative;}
header {display: flex; background: #000099; padding: .5em; width: 100%; max-width: 100vw;}
.logo {display: flex; width: 10em;}

/* .logo a {height: 100%; margin: auto;} */
.logo a img {/*height: 5em;*/ margin: auto; width: 100%;padding-top: 1em;}

.header-tiles {width: 100%; border-left: 1px solid #FFF; padding: .5em;}

.header-tiles h1 {float: none; margin-bottom: 0.2em; color: #ffffff;}
.header-tiles h3 {float: none; margin: 0.2em; color: #ffffff;}

.flex-area-primary {display: flex; flex-direction: column;}
    

.flex-card.bg-lgray {background: #e5e5e5} 
.title-card {background: #fff; padding: .3em;}

.title-card h3.bold {padding: .1em .2em;}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    font-size: 14px;
    font-weight: normal;
    visibility: hidden;
    width: 200px;
    background-color: #202843;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 15px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* Exclusive for index */

/* Tabs */ 
#tabs-bullets {display: flex; width: 100%;}

#tabs-bullets ul {display: flex; list-style: none; flex-wrap: wrap; align-items: center;}
#tabs-bullets ul li {color: #FFF; min-width: 15em; width: auto;  }

#tabs-bullets ul li a {color: #FFF; padding: 2% 1%; }
#tabs-bullets ul li a:hover {font-weight: bolder; text-decoration: none; }
#tabs-bullets ul li a:focus {color: #00b1ff; list-style: none; } 